@font-face {
  font-family: 'NATRON';
  src: url('../src/assets/font/NATRON-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  width: 100%;
  --font-primary: 'NATRON', sans-serif;
  --font-secondary: 'Oswald', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  background-color: #f5ead6;
  font-family: var(--font-primary);
  overflow-x: hidden;
}
&::-webkit-scrollbar{
  display: none;
}
